.eapps-countdown-timer-480.eapps-countdown-timer-position-bar .eapps-countdown-timer-item-value {
    font-size: 22px !important;
    line-height: 22px !important;
}
.eapps-countdown-timer-640.eapps-countdown-timer-position-bar .eapps-countdown-timer-item-group-label {
    font-size: 12px !important;
    margin-bottom: 5px;
}
.eapps-countdown-timer-header-title-text {
    font-family: "Droid Arabic Kufi", Sans-serif;
    font-size: 15px;
    margin-bottom: 6px;
}
.eapps-countdown-timer-inner {
    padding-top: 10px;
    padding-bottom: 10px;
}
.eapps-countdown-timer-bar-close {
    display: none;
}

.eapps-countdown-timer-header {
    display: none !important;
}
.eapps-countdown-timer-item-group-label {
    padding-bottom: 10px;
    margin-top:11px;
}
